<!-->
<div ng-cloak>
    <div class="row">
        <h3>
            <div style="font-family: 'Inconsolata', monospace;"> Sube los mejores documentos para tus clases!</div>
        </h3>

        <div ng-switch="vm.isAuthenticated()">


            <input class="btn btn-primary" style="align-top:100px" id="file-chooser" type="file" accept="application/pdf" />
            <br>

            <div id="tableDiv" class="dropdown" style="display: inline-block;">
                <button id="tableButton" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Materia
                    <span class="caret"></span>
                </button>
                <ul id="tableMenu" class="dropdown-menu">
                    <li>
                        <a>Física 1</a>
                    </li>
                    <li>
                        <a>Física 2</a>
                    </li>
                    <li>
                        <a>APO 1</a>
                    </li>
                    <li>
                        <a>APO 2</a>
                    </li>
                    <li>
                        <a>Cálculo Diferencial</a>
                    </li>
                    <li>
                        <a>Cálculo Integral</a>
                    </li>
                    <li>
                        <a>Cálculo Vectorial</a>
                    </li>
                    <li>
                        <a>Probabilidad y estadística 1</a>
                    </li>
                    <li>
                        <a>Probabilidad y estadística 2</a>
                    </li>
                    <li>
                        <a>Análisis y Decisión de Inversión</a>
                    </li>
                </ul>
            </div>

            <button id="upload-button" class="btn btn-warning ">Subir archivos</button>


            <div class="row pull-right" ui-sref-active="active" ng-switch-when="false">
                <div class="alert alert-warning">
                    <strong>¡Atención!</strong> Sólo se pueden subir archivos tras iniciar sesión.
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
</div>
<!-->


<link href="https://fonts.googleapis.com/css?family=Quicksand:300" rel="stylesheet">
<style>
    body {
        font-family: 'Quicksand', sans-serif;
    }
</style>

<div class="container">
    <div id="results"></div>
    <div class="row" id="allItems">
        <div ng-repeat="materia in materias">
            <div class="col-sm-2 col-md-2">
                <div class="post">
                    <a id="btnModal" data-toggle="modal" data-target="#modal{{materia.key}}">
                        <img src="content/images/folder.png" width="140" height="140" class="img-responsive" />
                    </a>
                    <span class="post-title">
                        <b> {{materia.nombre}} </span>
                            <br></br>
                    <div class="modal fade" id="modal{{materia.key}}" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal{{materia.key}}">&times;</button>
                                    <h4 class="modal-title" style="color:#000"><strong>Mira los archivos que tenemos para ti!</strong></h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class=" col-sm-12">
                                            
                                                <div ng-repeat="url in materia.urls">
                                                    <a id="filename{{materia.nombre}}" target="_blank" style="color:#0000FF" href={{url.url}}>
                                                        {{url.fileName}}
                                                    </a>
                                                    <br></br>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>