 <div class="row">
        <div class="pull-right col-md-6">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                        <input type="text" class="form-control" placeholder="Buscar en usuarios" ng-model="buscarUsuario">
                    </div>
                </div>
            </form>
        </div>
    </div>
 <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="login"><span data-translate="userManagement.login">Login</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="email"><span data-translate="userManagement.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in vm.users | filter:buscarUsuario" ng-show="user.show">
                <div >
                    <td>{{user.login}}</td>
                    <td>{{user.email}}</td>   
                </div>

            </tr>
            </tbody>
        </table>
    </div>