<style>
    div{
        color: #000000;
    }
</style>
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRateLabel" data-translate="plataformaDocsApp.rate.home.createOrEditLabel">Create or edit a Rate</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.rate.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.rate.id" readonly />
        </div>
        
        <div class="form-group">
            <label class="control-label" data-translate="plataformaDocsApp.rate.rate" for="field_rate">Rate</label>
            <input type="number" min="0" max="5" class="form-control" name="rate" id="field_rate"
                    ng-model="vm.rate.rate"
                    />
        </div>

        <div class="form-group">
            <label data-translate="plataformaDocsApp.rate.file" for="field_file">File</label>
            <select class="form-control" id="field_file" name="file" ng-model="vm.rate.fileId" ng-options="file.id as file.name for file in vm.files"            >
                <option value=""></option>
            </select>
        </div>

        <div class="form-group">
            <label data-translate="plataformaDocsApp.rate.descripcion" for="field_descripcion">File</label>
            <input type="text" maxlength="2000" size="118" name="" id="field_file" name="file" ng-model="vm.rate.descripcion"          >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
